extends layout
block header
	div.transparency
	div.newsfeed-logo
	div.navigation
		a(href="/feeds") Feeds
		a(href="/edit-profile") Edit Profile
	div.signout-form
		a.profile-info(href="/profile/" + id)
			img(src= thumbImg, alt="Profile picture")
			span(class="user")= firstname
				|&nbsp;
				= lastname
		form(method="get", action="/signout")
			label(class="signout-button")
				input(value="Sign Out" type="submit" id="sign-out")
block content
	div.edit-form
		form(method="post" enctype="multipart/form-data" action="/edit-profile")
			- var message = messages.pop() || []
			- if (message[0]=="success") {
			p.validateTips.success= message[1]
			- } else if (message[0]=="error") {
			p.validateTips.error= message[1]
			- } else {
			p.validateTips All form fields with '*' are required
			- }
			div#tabs
				ul
					li
						a(href="#profile") Profile information
					li
						a(href="#profile-photo") Profile photo
					li
						a(href="#blocked-users") Blocked users
				div(id="profile")
					fieldset(id="profile-fieldset")
						div.row
							label(for="username", title="Username must be between 5 and 30 symbols.") Username *
							input(type="text", name="username", id="username", value= username)
						div.row
							label(for="password") Password *
							input(type="password", name="password", id="password")
						div.row
							label(for="first-name") First Name *
							input(type="text", name="first-name", id="first-name" value= firstname)
						div.row
							label(for="last-name") Last Name *
							input(type="text", name="last-name", id="last-name" value= lastname)
						div.row
							label(for="email") E-mail *
							input(type="text", name="email", id="email" value= email)
						div.row
							label(for="age") Birthdate *
							input(type="text", name="birthdate", id="birthdate" value= birthdate)
						div.row
							label(for="address") Address
							textarea(name="address", id="address")= address
				div(id="profile-photo")
					label
						- if(medImg && bigImg) {
							a(class="fancybox" rel="group" href= bigImg)
								img(src= medImg)
						- } else {
							a(class="fancybox" rel="group" href="/images/no-image.png")
								img(src="/images/no-image-medium.png" alt="No image")
						- }
					div.upload-text 
						input(type="file" name="profile-image")
				div(id="blocked-users") 
					- if(users) {
					div.blockedUsers
						- var blocked = false;
						- for (var i=0; i<users.length; i++) {
						- 
						div.user-box
							label(for= users[i].username)
							= '' + users[i].firstname
							= ' ' + users[i].lastname
							input(type="checkbox" name="blockedUsers" value= users[i]._id id= users[i].username checked= blockedUsers.indexOf(users[i]._id) > -1)
						- } 
					- } else {
					| There are no users registered in the system except you! Ha-ha!
					- }
			div.submit-edit-form
				label.submit-edit-button
					input(type="submit", value="Save changes", id="edit-button")
block script
	script(src="/js/edit-form-validation.js")
	script(srs="/js/feed-container.js")
	script
		jQuery(function($) {
			$("#tabs").tabs();
			$("#birthdate").datepicker();
			$(".fancybox").attr('rel', 'gallery')
				.fancybox({
					padding : 0
				});
		});
