//-Created by daniel on 2/3/14.
extends layout
block header
    div.transparency
    div.newsfeed-logo
    div.navigation
        a(href = "/feeds") Feeds
        a(href = "/edit-profile") Edit Profile
    div.signout-form
        form(method = "get", action = "/signout")
            label(class = "signout-button")
                input(value ="Sign Out" type = "submit" id = "sign-out")
block script
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/js/feed-container.js", type="text/jacascript")
    script(src="/js/socket-io-feeds.js", type="text/javascript")
block content
    div.left(style = "font-size:9pt" id="messageSection")
        div(id="feeds")
        div#tabs
            //form(method = "post", action = "/feeds", id="feedForm")
            input(type = "textarea", name="feed-content", id="feed-content")
            input(type = "submit", value = "send", id = "edit-button", onclick="sendFeed('"+ user + "',$('#feed-content').val())")
            hr
        //-forEach feed in feeds
            div.feed
                a(href="/profile?id=" + feed.user.id)
                    img(src= feed.user.imgThumbPath ? feed.user.imgThumbPath : "/images/no-image-medium.png")
                    h2= feed.user.firstname + " " + feed.user.lastname
                p
                    = feed.content
                    p
                    a(href="/like")
                        |Like
                    hr
        //-a(href="/feeds?skip=" + prevSkip, style="font-size:12pt;float:left")
        //-a(onclick='getFeeds(' + prevSkip + ')', style="font-size:12pt; float:left")
            |Newer...
        //-a(onclick='getFeeds(' + nextSkip + ')',  style="font-size:12pt;float:right")
            |Older...
block script
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(type="text/javascript").
        var socket = io.connect('http://localhost:3000');
        socket.on('news', function (data) {
            socket.emit('my other event', { my: 'data' });
                              });


