extends layout
block header
	div.transparency
	div.newsfeed-logo
	div.signup-form
		form(method="get", action="/signup")
			label(class="signup-button")
				input(value="Sign Up" type="submit" id="sign-up")						
block content
	div.left
		- var message = messages.pop() || []
		- if (message[0]=="success") {
		p.validateTips.success= message[1]
		- } else if (message[0]=="error") {
		p.validateTips.error= message[1]
		- } else if (error){
		p.validateTips= error
		- } else if (success) {
		p.validateTips= success
		- } else {
		p.validateTips All form fields with '*' are required
		- }
		div.login-form
			form(method="post", action="/login")
				fieldset	
					div.row
						label(for="username", title="Username must be between 5 and 30 symbols.") Username *
						input(type="text", name="username", id="username")
					div.row
						label(for="password") Password *
						input(type="password", name="password", id="password")
					div.row
						button(type="submit", id="log-in") Log in
block script
	script(src="/js/login-validation.js")